{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">To do add with Trello</p>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        <span class="border border-primary">
          <table class="table table-sm table-striped table-hover table-bordered">
              <tr class="table-primary">
                <th style="width: 5%">Id</th>
                <th style="width: 15%">Item</th>
                <th style="width: 30%">Description</th>
                <th style="width: 10%">Due Date</th>
                <th style="width: 10%">Status</th>
                <th style="width: 30%">Update Item Status</th>
              </tr>
            <tbody>
        <!-- List the todo items here -->
        {% for item in view_model.items %}
      </tr>
            <tr>
              <td>{{item.short_id}}</td>
              <td>{{item.name}}</td>
              <td>{{item.desc}}</td>
              <td>{{item.due}}</td>
              <td>{{item.status}}</td>
              <td>
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups"></div>
                  <div class="btn-group mr-1" role="group" aria-label="in progress">
                    <form action="{{ url_for('set_item_to_progress') }}" method="POST">
                      <input type="hidden"  name="set to progress" value="{{item.id}}">
                      <button type="submit" class="btn btn-primary btn-sm" type="button">In progress</button>
                    </form>
                  </div>
                  <div class="btn-group mr-1" role="group" aria-label="Completed">
                    <form action="{{ url_for('set_item_to_complete') }}" method="POST">
                      <input type="hidden"  name="mark as completed" value="{{item.id}}">
                      <button type="submit" class="btn btn-success btn-sm" type="button">Completed</button>
                    </form>
                  </div>
                  <div class="btn-group mr-1" role="group" aria-label="Not Started">
                    <form action="{{ url_for('set_item_status') }}" method="POST">
                      <input type="hidden"  name="Reset item status" value="{{item.id}}">
                      <button type="submit" class="btn btn-danger btn-sm" type="button">Not Started</button>
                    </div>
                    </form>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </span>
    </ul>
  </div>
</div>
<form class="form-group" action="{{ url_for('add_new_item') }}" method="POST">
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Add item here" name="title">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Add item description here" name="desc text">
    </div>
    <div class="col">
      <input type="date" id="date" class="form-control" name="date" value="{{ selectedDate if selectedDate else todaysDate }}">
    </div>
    <div class="col">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>
{% endblock %}



