# Flask server configuration.
FLASK_APP=todo_app/app
FLASK_ENV=production

# Change the following values for local development.
SECRET_KEY=secret-key
API_KEY={{ trello_api_key }}
API_TOKEN={{ trello_token }}
TRELLO_BASEURL='https://api.trello.com/1'
TRELLO_BOARDID='637a07086ce99d00bb558e86'
